@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  padding-left: 135px;
  padding-right: 135px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.custom-padding {
  padding-bottom: 80px;
}

.header-menu {
  top: 0;
  padding: 40px 20px;
  height: 100vh;
  background-color: #ccc;
}
.bordered {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.mobileBorder {
  border-top: 50px;
  border-bottom: 50px;
}

.client {
  position: relative;
}

.testimonials {
  @apply relative z-10;
}

.testimonials:before {
  content: "";
  @apply absolute inset-x-0 bottom-0 top-auto w-full h-3/5 rounded-t-3xl bg-gradient-to-r from-bluePrimary to-PurplePrimary;
}
